spring:
  application:
    name: walk-doro
  
  config:
    import: optional:file:src/main/resources/application-secret.yml

  data:
    redis:
      host: localhost
      port: 6379


  datasource:
    # url: jdbc:mysql://localhost:3306/walk_doro?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    # driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:h2:mem:testdb;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true

  security:
    oauth2:
      client:
        registration:
          google:
            scope:
              - profile
              - email
